.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-logo {
  width: 6rem;
  height: 6rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 250ms ease;
  cursor: pointer;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.header-logo p {
  color: #fff !important;
  transition: all 250ms ease;
}

.header-content li {
  position: relative;
  text-align: center;
  width: 5rem;
  background: #0f0e0e;
  margin-left: 5rem;
}

.header-content li a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  transition: all 250ms ease;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}

.header-container.active .header-content li a {
  color: #fff;
  background-color: #0f0e0e;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-container.active .header-logo p {
  color: #0f0e0e !important;
}

.header-logo:hover {
  justify-content: center;
}

.header-logo:hover p {
  text-shadow: rgba(0, 0, 0, 0.24) 1px 2px 3px;
}

.header-content .header-nav ul li a:hover {
  justify-content: center;
  text-shadow: rgba(0, 0, 0, 0.24) 1px 2px 3px;
  backdrop-filter: blur(5px) !important;
}

.header-container.active .header-content .header-nav ul li a:hover {
  color: #0f0e0e !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(255, 255, 255, 0.05);
  text-shadow: none;
}

.header-container.active .header-logo:hover p {
  text-shadow: none;
}

.header-logo p {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  color: #000;
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 320px) {
  .header-content {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
}
